.your-order{
  margin: auto;
  height: 400px;
  width:900px;
  margin-top: 3%;
}
body{
  background-color: whitesmoke;
  font-family: 'Source Sans Pro', sans-serif;
  height: auto;
  padding-bottom: 20px;
}

table, td, th {  
  text-align: left;
  font-family: 'Taviraj', serif;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}
th, td {
  padding: 15px;
}

.navbar{
  background-color:#87b8cf;
}
.nav{
  color: whitesmoke;
  font-size: 25px;
  text-decoration: none;
  border-bottom: 3px solid whitesmoke;
  transition: 0.3s;
}
.nav:hover{
  color: grey;
  border-bottom: 3px solid grey;
}
