.box-check{
  margin: auto;
  height: 450px;
  width: 550px;
}
.box-adress{
  background-color:pink;
  display: flex;
  height:100%;
}
.your-order{
  background-color:pink;
  height: 80%;
  display: block;
}
.empty-order-detail{
  background-color:red;
  display: flex;
  height:7%;
}
.box-place-order{
  background-color:orange;
  display: flex;
  height:13%;
}
.place-order{
  display: flex;
  width: 100%;
  background-color: blue;
  border: solid;
}
.box-order-confirm{
  width:100%;
  height:100px;
}
.empty{
  flex:1;
}
.box-order-slip{
  flex: 1;
  background-color:skyblue;
  border: solid;
}
.box-order-number{
  flex: 1;
  background-color:skyblue;
}
.box-tranfer-slip{
  flex: 1;
  background-color:blue;
}
.label-order-number{
  flex: 1;
  background-color:blue;
}
.text-box-order-number{
  flex: 1;
  background-color:skyblue;
}
.text-box-tranfer-slip{
  flex: 1;
  background-color:blue;
}
.label-tranfer-slip{
  flex: 1;
  background-color:skyblue;
}